.cards {
	padding: 20px;
	
	display: grid;
	
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	
	@media (min-width: 30em) {
		grid-template-columns: 1fr 1fr;
	}
	
	@media (min-width: 60em) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	background: var(--color-card-background);
	text-decoration: none;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	
	/* sets up hover state */
	position: relative;
	top: 0;
	transition: all .1s ease-in;
	
	&:hover {
		top: -2px;
		box-shadow: 0 4px 5px rgba(0,0,0,0.2);
		rotate: 1deg;
	}
	
	article {
		padding: 20px;
		flex: 1;
		
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		border-top: 2px solid var(--color-primary);
	}
	
	h1 {
		margin: 0;
		color: #e8e6e3;
	}
	
	p {
		flex: 1;
		line-height: 1.4;
		color: #e8e6e3;
	}
	
	.banner {
		padding-bottom: 60%;
		background-size: cover;
		background-position: center center;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
}

.wide {
	@media (min-width: 60em) {
		grid-column: 1 / span 2;
		
		h1 {
			font-size: 24px;
		}
	}
}