/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #080808;
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #111;
    text-decoration-line: underline;
}

.topnav a:not(.home_button) {
    display: inline-block;  
}

.home_button {
    position: absolute;
    left: 0px
}