/* Add a black background color to the top navigation */
.topnav {
    background-color: #111;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #5500ff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #222;
    color: #8446ff;
    text-decoration-line: underline;
}