<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <title>creare's website</title>
        <meta content="thecreare.dev" property="og:title" />
        <meta content="Location of creare's blog, projects, portfolio, and other shenanigans :3" property="og:description" />
        <meta content="/assets/images/icon.png" property="og:url" />
        <meta content="/assets/images/icon.png" property="og:image" />
        <meta content="#4e078c" data-react-helmet="true" name="theme-color" />

        <link rel="icon" href="/assets/images/icon.png">

        <!-- Website is  -->
        <meta name="color-scheme" content="dark light">
        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/topnav.css">

        <!-- Syntax Highlighting by highlightjs.org -->
        <!-- Probably fineeeee, depending on a library like this never goes wrong, right? -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        
        {% endblock %}

        <!-- The silly refresh script :3 -->
        <!-- <script> location.reload(); </script> -->
    </head>
    <body>
        {% block body %}
        <div class="topnav">
            <a href="/" class="home_button">=^･ω･^=</a>
            <a href="/posts">Posts</a>
            <a href="/projects">Projects</a>
            <a href="/things">Cool Things</a>
        </div>
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
        <hr>
        <a href="https://github.com/thecreare/rust-webserver">sourcecode</a> on github :3
        {% endblock %}
    </footer>
</html>