<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <title>creare's website</title>
        <meta content="thecreare.dev" property="og:title" />
        <meta content="Location of creare's blog, projects, portfolio, and other shenanigans :3" property="og:description" />
        <meta content="/assets/images/icon.png" property="og:url" />
        <meta content="/assets/images/icon.png" property="og:image" />
        <meta content="#4e078c" data-react-helmet="true" name="theme-color" />

        <link rel="icon" href="/assets/images/icon.png">

        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/topnav.css">
        {% endblock %}

        <!-- The silly refresh script :3 -->
        <!-- <script> location.reload(); </script> -->
    </head>
    <body>
        {% block body %}
        <div class="topnav">
            <a href="/">Info</a>
            <a href="/blog">Posts</a>
        </div>
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
        woah look! A footer!
        {% endblock %}
    </footer>
</html>