{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/page_list.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="cards">
        {% for post in pages -%}
        <a href="{{ post.path }}" class="card">
            <div class="banner" style="background-image: url('{{ post.meta.banner }}');"></div>
            <article>
                <h1>{{ post.meta.title }}</h1>
                <p>{{ post.meta.short_description }}</p>
            </article>
        </a>
        {%- endfor %}
    </div>
{% endblock %}
